.read-more-button {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #007bff; /* Example blue color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Improve color contrast */
[data-theme="dark"] a {
    color: #60a5fa;
}

[data-theme="dark"] .entry-footer {
    color: #bababa;
}

.entry-footer {
    color: #404a58;
}

.entry-content p {
    color: var(--primary);
}
